  
html {
  scroll-behavior: smooth;
}
p{
	font-family: Arial;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: rgb(0, 195, 255);
}
a:hover{
	opacity: 0.5;
	text-decoration: underline;
}
h1{
	color: rgb(0, 153, 255);
	font-family: Arial;
	text-align: center;
	font-size: 100px;
	margin-top: -10px;
}
h2{
	color: rgb(0, 153, 255);
	font-family: Arial;
	text-align: center;
	font-size: 45px;
	margin-top: -90px;
}
img{
	display: block;
	margin: 0 auto;
}
#submit{
	background-color: blue;
	border: none;
	color: white;
	padding: 10px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
}
.text{
	padding: 5px 10px;
}
#try_again{
	text-align: Center;
	font-size: 50px;
	padding-top: 0px;
	margin-top: -70px;
	display: block;
	margin: 0 auto;
	background-color: white;
	border: 2px solid #ffffff;
	font-family: Arial;
}
#try_again2{
	text-align: Center;
	font-size: 50px;
	padding-top: 0px;
	margin-top: -70px;
	display: block;
	margin: 0 auto;
	background-color: white;
	border: 2px solid #ffffff;
	font-family: Arial;
}
img:hover{
	opacity: 0.5;
}
#unhover:hover{
	opacity: 1;
}
#nonhover:hover{
	opacity: 1;
}
div {
    text-align: center;
	margin-top: -45;
}
div img {
    display: inline-block;	
}
div:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#h{
	margin-right: 50px;
}
#s{
	margin-left: 50px;
}
#select{
	font-family: Arial;
}
#logout{
	background-color: white;
	border: 2px solid #ffffff;
	font-family: Arial;
	font-size: 100%;
}
h3{
	text-align: Left;
	font-family: Arial;
	color: black;
	font-size: 27px;
}
h4{
	text-align: Left;
	font-family:  Arial;;
	color: black;
	font-size: 27px;
}
#home_up{
	margin-top: -30px;
}
.links{
	text-align: justify;
}
.linkmenu{
	margin-top: -25px;
	border-top: medium solid rgb(0, 153, 255);
	border-bottom: medium solid rgb(0, 153, 255);
	padding: 0px 5px 5px 5px;
	margin-bottom: -37px;
}
.linkmenu h4{
	padding-top: 7px;
	margin-top: 40px;
}
.linkmenu img{
	margin-top: 25px;
}
#school_content h2{
	color: Black;
	text-align: Left;
	font-size: 25px;
	margin-bottom: -7px;
}
#school_content p{
	font-size: 18px;
	text-align: Left;
	margin-bottom: -20px;
}
#school_content a:hover{
	opacity: 0.5;
	text-decoration: underline;
}
#home_content h2{
	color: Black;
	text-align: Left;
	font-size: 25px;
	margin-bottom: -7px;
}
#home_content p{
	font-size: 18px;
	text-align: Left;
	margin-bottom: -20px;
}
#home_content a:hover{
	opacity: 0.5;
	text-decoration: underline;
}
.linkmenu p{
	text-align: Left;
	margin-top: -30px;
	padding-bottom: 10px;
}
.content{
	margin-top: 25px;
	margin-bottom: 35px;
}
#contents{
	font-size: 18px;
	text-align: Left;
	margin-bottom: -20px;
}
#contents h2{
	color: Black;
	text-align: Left;
	font-size: 25px;
	margin-bottom: -7px;
}
#contents p{
	font-size: 18px;
	text-align: Left;
	margin-bottom: -20px;
}
#contents a:hover{
	opacity: 0.5;
	text-decoration: underline;
}
#scroll{
	display: none;
	background-color: rgb(110, 165, 255);
	z-index: 1;
	bottom: 10px;
	right: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 100%;
	padding: 5px;
	position: fixed
}
#scroll:hover{
	opacity: 50%;
}
